@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');

h1 {
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
}

.main {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-4 {
  flex: 4;
}

a:link {
  text-decoration: none;
  color: #14213d;

}

a:visited {
  color: #3333;
  text-decoration: none;
}

button {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  background: none;
}